.table {
  position: absolute;
  right: 0%;
  bottom: -4%;
  width: 30em;
}
.pc {
  position: absolute;
  right: 4%;
  bottom: 16%;
  width: 25em;
}
.load {
  position: absolute;
  right: 35%;
  bottom: 32%;
  width: 8em;
}
.man {
  position: absolute;
  right: 30%;
  bottom: 6%;
  width: 20em;
}
.window {
  position: absolute;
  right: -33%;
  bottom: 65%;
  width: 10em !important;
}
.leftTop {
  position: absolute;
  right: 30%;
  bottom: 40%;
  width: 25em;
}
.watch {
  position: absolute;
  left: 70%;
  bottom: 75%;
  width: 25em;
}
.popcorn {
  position: absolute;
  left: 80%;
  bottom: 16.3em;
  width: 4em !important;
}
.cat {
  position: absolute;
  left: 73%;
  bottom: 15.8em;
  width: 8em;
}
.rightTop {
  position: absolute;
  left: 30%;
  bottom: 33%;
  width: 25em;
}
@media only screen and (max-width: 1540px) and (min-width: 1280px) {
  .table {
    position: absolute;
    right: 0%;
    bottom: -4%;
    width: 25em;
  }

  .man {
    position: absolute;
    right: 30%;
    bottom: 6%;
    width: 20em;
  }

  .leftTop {
    position: absolute;
    right: 10%;
    bottom: 50%;
    width: 25em;
  }
  .watch {
    position: absolute;
    left: 70%;
    bottom: 75%;
    width: 25em;
  }
  .popcorn {
    position: absolute;
    left: 79%;
    bottom: 13.5em;
    width: 3.5em !important;
  }
  .cat {
    position: absolute;
    left: 67%;
    bottom: 13em;
    width: 8em;
  }
  .rightTop {
    position: absolute;
    left: 20%;
    bottom: 33%;
    width: 25em;
  }
  .pc {
    position: absolute;
    right: 4%;
    bottom: 13%;
    width: 25em;
  }
  .window {
    position: absolute;
    right: -45%;
    bottom: 70%;
    width: 9em !important;
  }
}
@media only screen and (max-width: 500px) {
  .slider-thumb::before {
    position: absolute;
    content: "";
    left: -6%;
    top: 10%;
    width: 115%;
    height: 100%;
    background: repeating-linear-gradient(
      45deg,
      #10ad93,
      #043104 5%,
      #022a4b 5%,
      #0a0b1d 10%
    );
    background-size: 100px 100px;
    animation: move-it 2s linear infinite;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 8s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 6=8s linear infinite;
  }
  @keyframes sliderShape {
    0%,
    100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
  }
}

@media only screen and (max-width: 700px) and (min-width: 501px) {
  .slider-thumb::before {
    position: absolute;
    content: "";
    left: -0%;
    top: 10%;
    width: 90%;
    height: 100%;
    background: repeating-linear-gradient(
      45deg,
      #10ad93,
      #043104 5%,
      #022a4b 5%,
      #0a0b1d 10%
    );
    background-size: 100px 100px;
    animation: move-it 2s linear infinite;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 8s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 6=8s linear infinite;
  }
  @keyframes sliderShape {
    0%,
    100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
  }
}

@media only screen and (max-width: 1280px) and (min-width: 701px) {
  .slider-thumb::before {
    position: absolute;
    content: "";
    left: 0%;
    top: 10%;
    width: 70%;
    height: 100%;
    background: repeating-linear-gradient(
      45deg,
      #10ad93,
      #043104 5%,
      #022a4b 5%,
      #0a0b1d 10%
    );
    background-size: 100px 100px;
    animation: move-it 2s linear infinite;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 8s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 6=8s linear infinite;
  }
  @keyframes sliderShape {
    0%,
    100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
  }
}
