.table {
  position: absolute;
  right: 4%;
  bottom: -4%;
  width: 30em;
}
.pc{
  position: absolute;
  right: 4%;
  bottom: 17%;
  width: 25em;
}
.load{
  position: absolute;
  right: 35%;
  bottom: 32%;
  width:8em;
}
.man {
  position: absolute;
  right: 30%;
  bottom: 6%;
  width: 22em;
}
.leftTop {
  position: absolute;
  right: 40%;
  bottom: 45%;
  width: 25em;
}
.watch {
  position: absolute;
  left: 70%;
  bottom: 75%;
  width: 25em;
}
.cat{
  position: absolute;
  left: 70%;
  bottom: 15.8em;
  width: 25em;
}
.rightTop{
  position: absolute;
  left: 30%;
  bottom: 33%;
  width: 25em;
}
.img_d {
  --s: 40px; /* size of the frame */
  --b: 2px; /* border thickness */
  --w: 25em; /* width of the image */
  --c: #1e3494;

  width: var(--w);
  aspect-ratio: 1;
  object-fit: cover;
  padding: calc(2 * var(--s));
  --_g: var(--c) var(--b), #b10e0e00 0 calc(100% - var(--b)), var(--c) 0;
  background: linear-gradient(var(--_g)) 50%/100% var(--_i, 100%) no-repeat,
    linear-gradient(90deg, var(--_g)) 50% / var(--_i, 100%) 100% no-repeat;
  outline: calc(var(--w) / 2) solid rgba(1, 58, 11, 0.2);
  outline-offset: calc(var(--w) / -2 - 2 * var(--s));
  transition: 0.6s;
  cursor: pointer;
}
.img_d:hover {
  outline: var(--b) solid var(--c);
  outline-offset: calc(var(--s) / -2);
  --_i: calc(100% - 2 * var(--s));
}


