@media only screen and (max-width: 500px) {
  .slider__thumb__load::before {
    position: absolute;
    content: "";
    left: -6%;
    top: 10%;
    width: 115%;
    height: 100%;
    background: repeating-linear-gradient(
      45deg,
      #10ad93,
      #043104 5%,
      #022a4b 5%,
      #0a0b1d 10%
    );
    background-size: 100px 100px;
    animation: move-it 2s linear infinite;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 8s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 6=8s linear infinite;
  }
  @keyframes sliderShape {
    0%,
    100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
  }
}

@media only screen and (max-width: 700px) and (min-width: 501px) {
  .slider__thumb__load::before {
    position: absolute;
    content: "";
    left: -0%;
    top: 10%;
    width: 90%;
    height: 100%;
    background: repeating-linear-gradient(
      45deg,
      #10ad93,
      #043104 5%,
      #022a4b 5%,
      #0a0b1d 10%
    );
    background-size: 100px 100px;
    animation: move-it 2s linear infinite;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 8s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 6=8s linear infinite;
  }
  @keyframes sliderShape {
    0%,
    100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
  }
}

@media only screen and (max-width: 1280px) and (min-width: 701px) {
  .slider__thumb__load::before {
    position: absolute;
    content: "";
    left: 0%;
    top: 10%;
    width: 70%;
    height: 100%;
    background: repeating-linear-gradient(
      45deg,
      #10ad93,
      #043104 5%,
      #022a4b 5%,
      #0a0b1d 10%
    );
    background-size: 100px 100px;
    animation: move-it 2s linear infinite;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 8s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 6=8s linear infinite;
  }
  @keyframes sliderShape {
    0%,
    100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
  }
}
@media only screen and (max-width: 3880px) and (min-width: 1281px) {
  .slider__thumb__load::before {
    position: absolute;
    content: "";
    left: 0%;
    top: 10%;
    width: 70%;
    height: 100%;
    background: repeating-linear-gradient(
      45deg,
      #10ad93,
      #043104 5%,
      #022a4b 5%,
      #0a0b1d 10%
    );
    background-size: 100px 100px;
    animation: move-it 2s linear infinite;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 8s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 6=8s linear infinite;
  }
  @keyframes sliderShape {
    0%,
    100% {
      border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    34% {
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform: translate3d(0, 5px, 0) rotateZ(0.01deg);
    }
    50% {
      transform: translate3d(0, 0, 0) rotateZ(0.01deg);
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      transform: translate3d(0, -3px, 0) rotateZ(0.01deg);
    }
  }
}
